<div class="wrapper">
  <div class="box title">
    <h1>Sorting Hat</h1>
    <p>Hogwarts School of Witchcraft and Wizardry</p>
  </div>
  <div class="box dtree">dtree</div>
  <div class="box container">
    <div class="box qblock">qblock</div>
    <div class="box status">status</div>
    <div class="box info">
      This website is a questionairre which will determine which of the four school House you belong most to. 
      You can find the <strong>REPOSITORY </strong><a href="#">here</a>. Written with ❤️ by <a href="https://lh.mk">lh.mk</a>. Enjoy using it as I enjoyed writing it.
    </div>
  </div>
</div>
<router-outlet></router-outlet>
