<div class="wrapper">
  <div class="box title">
    <h1>Sorting Hat</h1>
    <p>Hogwarts School of Witchcraft and Wizardry</p>
  </div>
  <div class="box dtree">dtree</div>
  <div class="box container">
    <div class="box qblock">qblock</div>
    <div class="box status">
      <ul>
        <li>
          Gryffindor: <span class="score">25% | 100</span>
        </li>
        <li>
          Ravenclaw: <span class="score">25% | 100</span>
        </li>
        <li>
          Slytherin: <span class="score">25% | 100</span>
        </li>
        <li>
          Hufflepuff: <span class="score">25% | 100</span>
        </li>
      </ul>
      <!-- tuka ke treba posebna status komponenta shto ke gi azhurira tie -->
    </div>
    <div class="box info">
      This site is a questionnaire which will determine which of the four school houses you belong most to. Each answer weights towards a specific house.
      You can find the <strong>REPOSITORY </strong><a href="#">here</a>. Check the <a href="#">README</a> to learn how it is designed to work. Written with ❤️ by <a href="https://lh.mk">lh.mk</a>. Enjoy using it as I enjoyed writing it. :-)
    </div>
  </div>
</div>
<router-outlet></router-outlet>
