<div class="wrapper">
  <div class="box title">
    <h1>Sorting Hat</h1>
    <p>Hogwarts School of Witchcraft and Wizardry</p>
  </div>
  <div class="box container">
    <div class="box qblock">
      <router-outlet></router-outlet>
    </div>
    <div class="box status">
      <span style="text-decoration: underline; margin: 5px">Score panel</span>
      <!-- <app-score></app-score> -->
      <router-outlet name="score"></router-outlet>
    </div>
    <div class="box info">
      <p>
        This site is a questionnaire which will determine which of the four school houses you belong most to. Each answer weights towards a specific house.
        You can find the <strong>REPOSITORY </strong><a href="#">here</a>. Check the <a href="#">README</a> to learn how it is designed to work. Written with ❤️ by <a href="https://lh.mk">lh.mk</a>. Enjoy using it as I enjoyed writing it. :-)
      </p>
    </div>
  </div>
</div>
