ul {
    text-decoration: none;
    padding-left: 0px;
    list-style-type: none;
    display: block;
    list-style-position: inside;
    overflow: hidden;
    margin-left: 0 auto;
}
ul > li {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 150px;
    border: 0.5px solid white;
}

ul a {
    text-align: center;
}

.score {
    float: right;
}