/* You can add global styles to this file, and also import other style files */

html {
 }
body {font-family: "Ubuntu Mono", "Helvetica Neue", sans-serif; }

.wrapper {
    margin: 25px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 1fr ) ;
    // 
    // grid-template-columns: repeat(3, minmax(min(15%, 180px), 1fr));
    border: 2px solid blue;
    grid-template-rows: repeat(2, [row] auto);
    background-color: #fff;
    color: #444;
    
}

.box {
    color: rgb(0, 0, 0);
    padding: 20px;
    // border: 2px dashed red;
}

.box .box {
    // background-color: rgb(255, 255, 255);
    // color: rgb(0, 0, 0);
}

.container {
    // background-color: #444;
    grid-column: col 2 /  4;
    grid-row: row 2;

    // pod
    display: grid;
    grid-template-columns: repeat(2, [col] minmax(0, 1fr));
    grid-template-rows: repeat(2, [row] auto);
    grid-gap: 10px;
}

.title {
    grid-column: col 2/ 4;
    border: 2px dashed orange;
}

.qblock {
    grid-column: col / 3;
    grid-row: 1;
    border: 3px dashed red;;
    background-color: rgb(246, 246, 246);
}

.status {
    grid-column: col 1;
    background-color: rgb(32, 32, 32);
    color: white;
    border: 0.5px solid lightblue;
    grid-row: row 2;
}

.info {
    grid-column: col 2;
    grid-row: row 2;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
}

.status > ul {
    text-decoration: none;
    padding-left: 0px;
    list-style-type: none;
    display: block;
    list-style-position: inside;
    overflow: hidden;
    margin-left: 0 auto;
}

.status > ul > li {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 150px;
    border: 0.5px solid white;
}

.status ul a {
    text-align: center;
}

.title > h1 {
    margin: 0px;
}

.score {
    float: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
