/* You can add global styles to this file, and also import other style files */

html {
 }
body {font-family: "Monospace", "Helvetica Neue", sans-serif; }

.wrapper {
    margin: 25px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 1fr ) ;
    grid-template-rows: repeat(2, [row] auto);
    background-color: #fff;
    color: #444;
}

.box {
    color: rgb(0, 0, 0);
    padding: 20px;
}

.container {
    // background-color: #444;
    grid-column: col 2 /  4;
    grid-row: row 2;

    // pod
    display: grid;
    grid-template-columns: repeat(2, [col] minmax(0, 1fr));
    grid-template-rows: repeat(2, [row] auto);
    grid-gap: 10px;
}

.title {
    grid-column: col 2/ 4;
}

#link {
    text-decoration:none; 
    padding: 3px; 
    background-color:#2b303b; 
    color:white;
    font-weight: bold;;
}

#link:hover {
    background-color:#909194; 
}

.qblock {
    grid-column: col / 3;
    grid-row: 1;
    background: antiquewhite;
}

.status {
    grid-column: col 1;
    background-color: rgb(32, 32, 32);
    color: white;
    grid-row: row 2;
}

.info {
    grid-column: col 2;
    grid-row: row 2;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
}

.info > p {
    margin: auto;
}

.title > h1 {
    margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
