<div *ngIf="loading">
    Loading question!
</div>
<div *ngIf="error">
    Errored out! No question found.
</div>
<div *ngIf="question">
    <label id="example-radio-group-label">{{question.id}}. {{question.value}}</label>
    <br>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button (change)="radioChange($event)" class="example-radio-button"
            *ngFor="let answer of question.answers" [value]="answer.id">
            {{answer.value}}
        </mat-radio-button>
    </mat-radio-group>
    <div id="navigation">
        <button class="nav-button" (click)="onPreviousPage($event)" mat-raised-button color="primary">Previous</button>

        <button *ngIf="!question.lastQuestion; else elseBlock" class="nav-button" disabled="{{!answerSelected}}" (click)="onNextPage($event)" mat-raised-button color="primary">Next</button>
        <ng-template #elseBlock>
            <button class="nav-button" disabled="{{!answerSelected}}" (click)="onSurveyDone($event)" mat-raised-button color="warn">Done!</button>
        </ng-template>
    </div>
</div>